<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://localhost:3000/javascripts/calculate.js"></script>

</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
    body{
        margin: 30px;
    }
    td, th{
        text-align: center;
    }
</style>
<body>
    <h3>Employee Details</h3>

    <table class="table table-hover">
        <tr>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Date of Joining</th>
            <th>Basic Pay</th>
            <th>Total Experience</th>
            <th>Gross Pay</th>
            <th>Net Pay</th>
            <th>Action</th>
        </tr>
        <% if(empdataFromDb.length > 0) { empdataFromDb.forEach(function(data) {
            %>

            <tr>
                <td><%= data.empcode %></td>
                <td><%= data.name %></td>
                <td id="dateofjoining_<%= data.empcode %>"><%= data.formatted_date %></td>
                <td><%= data.basicpay %></td>
                <td id="experience_<%= data.empcode %>"></td>
                <td><%= data.grosspay %></td>
                <td><%= data.netpay %></td>

                <td><a href="/payslip/edit/<%= data.empcode %>" class="btn btn-secondary">Edit</a> &nbsp<a href="/payslip/delete/<%= data.empcode %>" class="btn btn-danger">Delete</a> &nbsp<a href="/payslip/view/<%= data.empcode %>" class="btn btn-primary">View</a></td>

            </tr>
 

            <% }); } else { %>
                <tr>
                    <td colspan="7"><center>No records found.</center></td>
                  </tr>
                  <% } %>
        
    </table>
    <a href="/payslip/add_data" class="btn btn-primary">Add</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    
 
        
    

    
</body>
</html>